# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Local backup / temporary folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
tmp/
temp/
